<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style_page3.css">
  <title>Movie</title>
</head>
<body>

</body>
</html>
<h1>Movies Similar to the One You Liked</h1>
<h2>
  <a href=/getdata>Recommend Me a Movie</a>
  </h2>
  <p>{{movie_1_plot}}</p>
  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{px}} alt="cherry blossoms">
        <p class="caption">{{p_a}}</p>
      </div>
      <div class="back">
      
        </a>
        <p class="description">{{p_b}}</p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p2}} alt="white daisy">
        <p class="caption">{{m2t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m2p}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p3}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m3t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m3p}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p4}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m4t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m4p}}</p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p5}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m5t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m5p}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p6}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m6t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m6p}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p7}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m7t}}</p>
      </div>
      <div class="back">
        
        <p class="description">{{m7p}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="flipper">
      <div class="front">
        <img src={{p8}} alt="Red Purple and Yellow Tulip">
        <p class="caption">{{m8t}}</p>
      </div>
      <div class="back">
        <p class="description">{{m8p}}</p>
      </div>
    </div>
  </div>
</div>





<br>
<br>
<br>
<br>
<br>
<br>
<br>


